/* No es necesario, pero lo puse para que se vea el input transparente */

.cont {	
	position: absolute;
	width: 13%;
	margin: 0 auto;
}
.cont1 {
	position: absolute;
	width: 13%;
	margin: 0 auto;
}
.cont2 {
	position: absolute;
	width: 13%;
	margin: 0 auto;
}
/* El ID del Input Password */
#currentP {
	padding: 5px;
	border-radius: 0px;
	
	
}

/* Especificamos la ubicacion de la Imagen(ojo) */
#change{
	position: absolute;
	width: 15px;
	height:15px;
	right: 0;
	top: 25%;
}
#change1{
	position: absolute;
	width: 15px;
	height:15px;
	right: 0;
	top: 25%;
}
#change2{
	position: absolute;
	width: 15px;
	height:15px;
	right: 0;
	top: 25%;
}
/* Ojo por defecto 
#change.eyeDefault {
	background: url("/web.bo.peajes.com/img/transparente.png");

	    background-size: cover;
		background: ultra-expanded;
		bolder:0px;
	
}
#change.eyeDefault1 {

background-image: url("../img/transparente.png");
	   background-size: cover;
		background: ultra-expanded;
		bolder:0px;
	
}
#change2.eyeDefault2 {

background-image: url("../img/transparente.png");
	background-size: cover;
		background: ultra-expanded;
		bolder:0px;
	
}
#changeL.eyeDefaultL {

background-image: url("../img/transparente.png");
	background-size: cover;
		background: ultra-expanded;
		bolder:0px;
	
}

#changeF2.eyeDefault{
background-image: url("../img/transparente.png");
	background-size: cover;
		background: ultra-expanded;
		bolder:0px;
}
#changeF1.eyeDefault{
background-image: url("../img/transparente.png");
	background-size: cover;
		background: ultra-expanded;
		bolder:0px;
}
*/